

colors {
    color: #0a090b;    
    color: #100c08; /*smoke*/
    color: #0EDCE6; /* primary*/
    color: #B009AE;
    color: #E3CF36;    
    

    color: #E31F24;
    color: #1F2C73;
    color: #0F1B40;
    color: #2B65D9;
    color: #0FF207;
    color: #49BF88;
    color: ;
}
