{% extends "base.html" %}

{% block stylesheets %}
{% endblock %}

{% block content %}
<div class="jumbotron">
	<div class="container">
		<h1>Login</h1>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-6 offset-md-3">
			{% include "components/errors.html" %}

			{% if integrations.mlc() %}
			<a class="btn btn-secondary btn-lg btn-block" href="{{ url_for('auth.oauth_login') }}">
				Login with Major League Cyber
			</a>

			<hr>
			{% endif %}

			{% with form = Forms.auth.LoginForm() %}
			<form method="post" accept-charset="utf-8" autocomplete="off">
				
				<div class="form-group">	
					{{ form.name(class="form-control", id="name", value=name, placeholder="Username") }}
				</div>

				<div class="form-group">
				  {{ form.password(class="form-control", id="password", value=password, placeholder="Password") }}
				</div>
				<div class="form-group">
				  <button type="submit" class="btn btn-md btn-primary btn-outlined float-right">Sign In</button>  </div>
				<div class="row pt-3">
				  <div class="col-md-6">
					<a class="float-left align-text-to-button" href="{{ url_for('auth.reset_password') }}">
					  Forgot Password?  </a>
				  </div>
				  <div class="col-md-6">
					<a class="float-right align-text-to-button" href="{{ url_for('auth.register') }}">
					  Create Account  </a>
				  </div>
				</div>
				{{ form.nonce() }}
			  </form>
			{% endwith %}
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}

